/** {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}*/

html {
	height: 100%
}

body {
	/*background: url(images/carbon.png) fixed no-repeat center center;*/
  background: url(images/carbon.png);
  background-repeat: repeat;
	/*background-size: cover;*/
	height: 100%;
}

.no-margins {
  margin: 0;
}

.main_container {
	height: 100%;
}

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
	font-weight: 100;
	color: white;
  font-size: 60px;
  letter-spacing: -1px;
}

h1 span {
	/*font-family: 'Oswald', sans-serif;*/
	font-weight: bold;
	/*color: white;*/
}

.header_link:hover {
  text-decoration: none;
}

.menu_ul {
	float: right;
  margin: 0;
}

.menu_ul a {
  color: white;
}

.menu_ul a:hover {
  color: rgb(0, 123, 255);
}

.menu_item {
	/*color: white;*/
	list-style: none;
	display: inline;
	margin: 0 2em;
}

.header {
	/*width: 100%;*/
	/*height: 5em;*/
	/*display: flex;*/
	/*background-color: green;*/
	/*justify-content: center;*/
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

#myHeader {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 999;
  /*background: black;*/
  margin-top: -150px;
  background: url(images/carbon.png);
  background-repeat: repeat;
}

.inner_header {
	display: flex;
	align-items: center;
  padding: 10px;
}

.header_container {
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 50%;
}

.menu {
	width: 50%;
}

.menu li {
	list-style: none;
	display: inline;
}

.menu, .logo {
	display: block;
	position: relative;
	/*float: left;*/
}

.page_content {
	display: flex;
	justify-content: space-around;

}

.about_text {
	color: white;
}

/*.photo, .about_text {
	width: 30%;
}*/

.test {
	height: 100%;
	/*display: flex;*/
	justify-content: center;
}

.avatar {
	border-radius: 50%;
	border: 2px black solid;
}

.all_content {
	height: 70%;
/*	display: flex;
	align-items: center;*/
}

.footer {
  text-align: center;
  margin-top: 80px;
}

.card {
	display: flex;
}

.card-image {
	height: 100px;
	width: 100px;
}

.photos-main-content {
	width: 100%;
}

.project-photos {
	width: 100%;
}

.projects-text {
	color: white;
	font-weight: 700;
	/*background: rgba(0, 0, 0, 0.5);*/
	/*background: black;*/
	padding: 25px;
	border-radius: 5px;
}

.projects-row {
	align-items: center;
	margin-top: 150px;
	/*background: black;*/
	/*background: rgba(0, 0, 0, 0.5);*/
	margin-left: 35px;
}

p {
  font-family: 'Kanit', sans-serif;
  font-size: 17px;
}

a {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}

h4 {
  font-family: 'Kanit', sans-serif;
}
