:root {
	--scale: 0;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
  /*background: url(images/carbon.png) fixed no-repeat center center;*/
  background: url(images/carbon.png);
  background-repeat: repeat;
  color: white;
}

.no-margins {
  margin: 0;
}


.first-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
	display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(123, 9, 28);
}

h1 {
	margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
  font-weight: 100;
  color: white;
  font-size: 60px;
  letter-spacing: -1px;
}

.header-left {
	/* display: flex; */
  width: 100vw;
  position: fixed;
  margin-left: 2rem;
}

.main-title {
	color: white;
	z-index: 50;
}

.photo-and-blurb {
	max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */
  gap: 3rem;
  flex-wrap: wrap;
}

.photo {
	margin-top: 1rem;
	margin-bottom: -2rem;
}

.about-me-blurb {
	padding: 0 2rem;
	font-size: 16px !important;
	line-height: 1.5;
}

.arrow-down {
	margin-top: 2rem;
}

.main-container {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.job-cards-container {
  width: 90vw;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.cards-parent-container {
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	/* background-color: cyan; */
	justify-content: center;
	gap: 1rem;
  /* width: 300px; */
  /* Adjust the width as needed */
  /* height: 400px; */
  /* Adjust the height as needed */
}

.left-side  {
	/* background-color: purple; */
	max-width: 310px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.right-side {
	/* background-color: rgb(167, 39, 8); */
	max-width: 310px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.card-children {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 300px;
	width: 300px;
	@media screen and (width <= 667px) {
		height: 150px;
		width: 150px;
	}
}

.card-child-1 {
  background-color: rgb(0, 0, 0);
	opacity: 1;
	/* z-index: 1; */
	transition: opacity 1s;
	border: 1px solid white;
	border-radius: 5px;
	/* width: 300px;
	height: 300px; */
}

.card-child-2 {
  background-color: white;
	opacity: 0;
	transition: opacity 1s;
	position: absolute;
	color: black;
}

.card-child-2 p {
	padding: 1rem;
}

.tooltip {
	cursor: pointer;
}

.tooltip:hover + .tooltipText {
	/* display: block; */
	opacity: 1;
	--scale: 1;
	transform-origin: top center;
}

.tooltipText {
	transition: 1000ms opacity;
	background-color: #87A6D5;
	color:black;
	position: absolute;
	width: 50%;
	opacity: 0;
	transform: translate(0, 100%) scale(var(--scale));
	transform-origin: top center;
}

/* .tooltipText::after {
	content: '';
	width: 20px;
	height: 20px;
	background: purple;
} */

.card-child-1:hover {
	opacity: 0;
}

.card-child-2:hover {
	opacity: 1;
}

.job-title {
	position: absolute;
	margin-top: 2rem;
	color: white;
}

/* .tooltip {
	position: relative;
}

.tooltip::before,
.tooltip::after {
	content: attr(data-tooltip);
	content: '';
	background: pink;
	top: -0.25rem;
	height: 100px;
	width: 100px;
} */

.tooltipText {

}

/* } */

/* ######################## BIG BREAK ################################*/


h1 span {
  font-weight: bold;
}

.avatar {
  border-radius: 50%;
  border: 2px black solid;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 5rem;
}
